html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none!important;
  border: none;
  color: #000;
}
#breadcrumb span+span:before {
  padding: 5px;
  color: #000;
  content: "/\00a0";
}

body,
html {
    font-family: Roboto, sans-serif;
    letter-spacing: 0;
    font-size: 100%;
    line-height: 20px
}

/* ---------------------------------------------------------------- */
/* common fonts */
@font-face {
  font-family: Merriweather;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Merriweather Regular"), local("Merriweather-Regular"), url(/fonts/gfonts/merriweather-regular.woff2) format("woff2");
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(/fonts/gfonts/montserrat-regular.woff2) format("woff2");
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto Regular"), local("Roboto-Regular"), url(/fonts/gfonts/roboto-regular.woff2) format("woff2");
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(/fonts/gfonts/roboto-500.woff2) format("woff2");
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(/package.json) format("woff2");
}
@font-face {
  font-family: montserratregular;
  src: url(/fonts/montserrat-regular-webfont.woff2) format("woff2"), url(/fonts/montserrat-regular-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}



/* end */
/* breadcrumb storyDetail css */

.bredcrumb_active a{
  color: #e60000
}
/* end */
