html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

}
.latest-news:nth-child(odd), .related-content:nth-child(odd) {
  margin-right: 20px;
}
.latest-news, .related-content {
  max-width: 48.68%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  flex: 1 1 48%;
}
.bdr-dddddd {
  border: 1px solid #ddd;
}
.flexWrap {
  -moz-box-wrap: wrap;
  -webkit-box-wrap: wrap;
  -ms-flexbox-wrap: wrap;
  flex-wrap: wrap;
}
.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex: initial!important;
}
.latest-news-text>div:nth-child(1) {
  height: 60px;
}
.latest-news>a>div>div:nth-child(2) {
  width: 70%;
}
.flexDirectionCol {
  -moz-box-direction: column;
  -webkit-box-direction: column;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flexbox-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.latest-news img {
  object-fit: cover;
  border-radius: 2px;
  min-width: 80px;
}
.responsiveImage {
  height: auto;
  width: 100%;
}
.latest-news>a>div>div:nth-child(1) {
  width: 30%;
}
.posRelative {
  position: relative;
}
.overflowHidden {
  overflow: hidden!important;
}
@media only screen and (max-width: 950px){
.r-logo {
    flex-wrap: wrap;
}
}
.r-logo {
    display: flex;
    padding: 10px 20px 5px 20px;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    border-radius: 6px;
}
.watch-livetv {
    background: #6d1c24;
    background-image: url(https://www.republicworld.com/assets/images/youtube/g18.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.mrgnbtm20 {
    margin-bottom: 20px!important;
}
@media only screen and (max-width: 950px){
.r-logo>div:nth-child(1) {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 5px;
}
}
@media only screen and (max-width: 950px){
.r-logo>div:nth-child(1)>div:nth-child(2) {
    padding: 0!important;
}
}
@media only screen and (max-width: 950px){
.livetv-logo {
    width: 22px;
    height: auto;
}
}
.livetv-logo {
    width: 28px;
    height: 20px;
    margin-right: 5px;
}
.mrgnbtm10 {
    margin-bottom: 10px!important;
}
.flexJustifyBetween {
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
}
.font18 {
  font-size: 18px;
}
.fontweight100 {
  font-weight: 500!important;
}
@media only screen and (max-width: 950px){
.r-logo>div:nth-child(2) {
    width: 100%;
}
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@media(max-width: 950px){
  .grid {
  width: 100%;
  flex-direction: column;
  }
}
/* @media(max-width: 950px)
.width20, .width25, .width30, .width33, .width34, .width35, .width40, .width45, .width50, .width55, .width60, .width65, .width66, .width70, .width75 {
  .grid {

  width: 100%;
  }
} */
.fxWidth33, .width33 {
  width: 33%;
}
.fxWidth67, .width67 {
  width: 67%;
}
@media(max-width: 950px){
.cricket-page-responsive{
    padding-right: 0!important;
    padding-bottom: 30px!important;
}
}
@media(max-width: 950px){
.cricket-page-responsive {
    width: 100%;
    flex-direction: column;
}
}

 /* Team Ranking */

 .team-ranking-container {
  margin-top: 20px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ddd;
  background: #fff;
}
.team-ranking {
  border-top: 1px solid #ddd;
  height: 328px;
  overflow-y: scroll;
}
#team-rankings {
  width: 100%;
  font-family: Roboto,sans-serif;
}
#team-rankings tr:nth-child(1) {
  line-height: 1.8em;
}
#team-rankings th {
  font-size: 12px;
  font-weight: 100;
  border-bottom: 1px solid #ddd;
  position: sticky;
  background: #f7f7f7;
  top: 0;
  font-weight: 500;
  opacity: .6;
}
#team-rankings td, #team-rankings th {
  padding: 10px 0;
}
#team-rankings td:nth-child(2), #team-rankings th:nth-child(2) {
  text-align: left;
  padding-left: 20px;
}
.schedule-match-wrapper:nth-child(odd) {
  margin-right: 20px;
}
.schedule-match-wrapper {
  width: 48.65%;
  max-width: 48.65%;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 10px;
  flex: 1 1 48%;
}

/* schedule */
.schedule-team-flag {
  width: 45px;
  height: 32px;
  box-shadow: 0 0 2px 2px #00000007;
  border-radius: 2px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.vs-container-red {
  background: #d10014;
  border-radius: 50px;
  color: #fff;
  width: 22px;
  height: 22px;
  text-align: center;
  font-size: 12px!important;
}
.latest-news:nth-child(odd), .related-content:nth-child(odd) {
  margin-right: 20px;
}

.latest-news, .related-content {
  max-width: 48.68%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  flex: 1 1 48%;
}
.bdr-dddddd {
  border: 1px solid #ddd;
}
.bdrRadius4px {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.latest-news-text>div:nth-child(1) {
  height: 60px;
}
.latest-news-text>div:nth-child(1)>p {
  font-size: 16px;
  font-weight: 400!important;
}
.latest-news-text p {
  margin: 0 0 0 10px;
}
.no-margin h1, .no-margin h2, .no-margin h3, .no-margin h4, .no-margin p {
  margin: 0;
}
.mrgn0 {
  margin: 0!important;
}
.font16 {
  font-size: 16px;
}
.fontweight500 {
  font-weight: 500!important;
}
.lineClip3 {
  -webkit-line-clamp: 3!important;
}
.txtTruncate {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.latest-news-text>div:nth-child(2)>p {
  font-size: 14px;
  color: #464646;
}
.latest-news-text p {
  margin: 0 0 0 10px;
}
.no-margin h1, .no-margin h2, .no-margin h3, .no-margin h4, .no-margin p {
  margin: 0;
}
.mrgn0 {
  margin: 0!important;
}

/* menu bar */
.section1200 {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.nav-bar {
  display: flex;
  width: 100%;
}
.nav-bar a>div.nav-selected {
  background-color: #6d1c24;
  font-weight: 500;
}
.nav-bar a>div {
  padding: 8px 10px;
  font-size: 16px;
  color: #fff;
  font-family: Roboto;
  height: 100%;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
}