.homepageWrapper {
  background-color: #f8f8f8;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px !important;
}

.mastheadWrapper {
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.mastheadWrapper>div:nth-child(1) {
  background-color: #fff;
  border: 1px solid #ddd;
  width: calc(32% + 6px);
  margin-right: 20px;
}

.mastheadWrapper>div:nth-child(2) {
  background-color: #fff;
  border: 1px solid #ddd;
  width: calc(39% + 2px);
  margin-right: 20px;
}

.homepageShadow {
  box-shadow: 2px 2px 10px rgb(221 221 221 / 50%);
}

.smallCardContainer {
  padding: 15px;
  border-top: 1px solid #ddd;
  font-size: .8em;
  font-family: Roboto, sans-serif;
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex: initial !important;
}

.smallCardImage {
  width: calc(39% + 2px);
}

.smallImageTag {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-transition: all .5s;
  transition: all .5s;
  border-radius: 2px;
  height: auto;
  width: 100%;
}

.smallCardTitle {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-transition: all .5s;
  transition: all .5s;
  width: calc(50% + 37px);
  height: 79px;
  overflow: hidden;
  padding-left: 10px;
  font-family: Roboto,sans-serif;
}

.smallCardTitleCenter {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-transition: all .5s;
  transition: all .5s;
  width: 68.8%;
  height: 66px;
  padding-left: 10px;
  overflow: hidden;
  font-family: Roboto,sans-serif;
}

.smallCardHeadline {
  font-size: 16px;
  margin: 0;
  font-weight: 700;
  line-height: 19px !important;
}

.hoverEffect {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-transition: all .5s;
  transition: all .5s;
}

.sectionTopText {
  overflow: hidden;
  font-size: 21px;
  line-height: 22px;
  font-weight: 700;
  margin: 0;
}

@media (max-width: 950px) {
  .homepageWrapper {
    padding-bottom: 30px;
  }
}

@media (max-width: 950px) {
  .mastheadWrapper {
    flex-wrap: wrap;
  }
}

@media(max-width: 950px) {
  .mastheadWrapper>div:nth-child(1) {
    width: 49.2%;
  }
}

@media (max-width: 1050px) {
  .mastheadWrapper>div:nth-child(1) {
    margin-right: 10px;
  }
}

@media (max-width: 950px) {
  .mastheadWrapper>div:nth-child(2) {
    width: 49.2%;
    margin-right: 0;
  }
}

@media(max-width: 1050px) {
  .mastheadWrapper>div:nth-child(2) {
    margin-right: 10px;
  }
}

@media (max-width: 950px) {
  .smallCardContainer {
    padding: 15px;
  }
}

@media (max-width: 1050px) {
  .smallCardContainer {
    padding: 7px;
  }
}

@media (max-width: 950px) {
  .smallCardImage {
    width: 30%;
  }
}

@media (max-width: 1050px) {
  .smallCardImage {
    width: 29%;
    margin: auto;
  }
}

@media (max-width: 950px) {
  .smallCardTitle {
    width: 74%;
    height: 58px;
  }
}

@media (max-width: 1050px) {
  .smallCardTitle {
    width: 71%;
  }
}

@media (max-width: 950px){
.sectionTopText {
    line-height: 23px;
}
}

@media (max-width: 1050px){
.sectionTopText {
    font-size: 18px;
}
}

@media (max-width: 1050px){
.smallCardTitleCenter {
    width: 74%;
    height: 58px;
}
}